* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 200vh;
  }
  
  label.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 0.1em 0.5em;
  }

  .PopupWrapper {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
  }
  
  #Popup-ckb {
    display: none;
  }
  
  #Popup-ckb:checked ~ .PopupWrapper{
    display: flex;
  }
  
  
  .Popup {
    position: relative;
    background: #fff;
    width: 90vw;
    max-width: 400px;
    overflow: auto;
    max-height: 90vh;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  }
  
  .Popup-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 2em;
  }
  
  .Popup-content {
    padding: 20px;
  }