<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>{{ title }}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #eee;
            padding: 4px 8px;
        }
        .red {background: hsla(0, 80%, 80%, 0.4)}
        .green {background: hsla(180, 80%, 80%, 0.4)}
    </style>
</head>
<body>

    <input id="Popup-ckb" type="checkbox" />
    <div class="PopupWrapper">
        <div class="Popup">
            <label for="Popup-ckb">
                <a class="Popup-close">&times;</a>
            </label>
            <div class="Popup-content">
                <h1 id="Popup-title">Registracija korisnika</h1>

                <form id="reg-form">

                    <input name="name" id="reg-name" type="text" placeholder="Ime">
                    <input name="surname" id="reg-surname" type="text" placeholder="Prezime">
                    <input name="email" id="reg-email" type="text" placeholder="Email">
                    <input name="tel" id="reg-tel" type="text" placeholder="Tel">
   
                    <button id="reg-sub" type="submit">Registriraj</button>
                </form >


                <label class="btn" for="Popup-ckb"> Odustani</label>              
            </div>
        </div>
    </div>
        
    <h1>{{ title }}</h1>

    DATUM: <input id="date" type="text"><button id="date_submit">GET</button>
    <br>
    CARD ID: <input id="card_id" type="text"><button id="card_id_submit" >SCAN</button>
    <!-- onClick="window.location.reload();" -->

    <table id="users_time">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th></th>
                <th>Datum</th>
                <th>Vrijeme</th>
            </tr>
        </thead>
        <tbody id="users_time_tbody">

        </tbody>
    </table>

    <!--  
        REGISTRATION POP UP FORM
        https://codepen.io/thebeloved88/pen/zvrzoE
        -----------------HERE-----------------
     -->


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        $.ajaxSetup({ cache: false });

        const $users_time_tbody = $('#users_time_tbody');
        const $date = $('#date');
        const $user_id = $('#user_id');
        const $card_id = $('#card_id');
        const $date_submit = $('#date_submit');
        const $card_id_submit = $('#card_id_submit');

        // const $scan = $('#scan');
        // const $demo = $('#demo');

        function getDateFormatted () {
            const D = new Date();
            const y = D.getFullYear();
            const m = D.getMonth() + 1;
            const d = D.getDate();
            return `${y}-${m}-${d}`;
        }
        
        function get_by_date(date) {
            $.get(`/api?date=${date}`, function(data) {
                let TR;
                if (!data.length) {
                    TR = `<tr><td>Nema zapisa za datum ${date}</td></tr>`;
                } else {
                    // console.log(data)
                    TR = data.map(obj => `
                        <tr>
                            <td>${obj.name}</td>
                            <td>${obj.surname}</td>
                            <td class="${obj.is_in == 1 ? "green" : "red"}">${obj.is_in == 1 ? "Dolazak" : "Odlazak"}</td>
                            <td>${obj.date}</td>
                            <td>${obj.time}</td>
                        </tr>
                    `);
                }
                if ( $date.val() === '' ) $date.val(date);
                $users_time_tbody.html(TR)
            });
        }

        function post_card_id(cid, cb) {
            $.post('/api/card_id', {kurac: cid}, cb);
        }

        function post_register(formData, cb) {
            $.ajax({
                url: '/api/register',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: cb
            });

        }

        $date_submit.on('click', function() {
            get_by_date( $date.val() );
        });

        $card_id_submit.on('click', function() {
            $card_id_submit.prop("disabled", true);
            post_card_id( $card_id.val(), function(data) {
                console.log(data.status);
                if(data.status === "error") {
                    $("#Popup-ckb").prop("checked", true);
                    $("#Popup-title").text("Kartica ne postoji. Registracija korisnika")
                }
                get_by_date( $date.val()); 
                $card_id_submit.prop("disabled", false);
            });
        });

        get_by_date(getDateFormatted());


        $("#reg-form").on("submit", function(e) {
            e.preventDefault();
            const fData = new FormData(this);
            fData.append('card_id',$card_id.val())    
            post_register(fData, function(data) {
                console.log(data);
            });
        });

    </script>


</body>
</html>